#!/bin/sh

if [ "prod" = "$1" ]; then
  heroku config:add NODE_ENV="production"
  heroku config:add MONGO_HOST="somename.somemongohost.com"
  heroku config:add MONGO_PORT="27017"
  heroku config:add MONGO_USER="someuser"
  heroku config:add MONGO_PASSWORD="supersecret"
  heroku config:add MONGO_DB="dbName"
  heroku config:add S3_KEY="S3KEYblah"
  heroku config:add S3_SECRET="S3SECRETblah"
elif [ "dev" = "$1" ]; then
  heroku config:add NODE_ENV="development"
  heroku config:add MONGO_HOST="localhost"
  heroku config:add MONGO_PORT="27018"
  heroku config:add MONGO_USER="someuser"
  heroku config:add MONGO_PASSWORD=""
  heroku config:add MONGO_DB="dbNameDev"
  heroku config:add S3_KEY="S3KEYblah"
  heroku config:add S3_SECRET="S3SECRETblah"
else
  echo "Usage: ./herokuconfig.sh prod/dev"
fi
